@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.content-wrap {
  width: calc(100vw - 32px);
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  padding: 48px 0;

  nav {
    display: flex;

    .nav-item {
      margin: 0 24px 0 0;
    }
  }
}
